<tr id="heating-element-status-<%= heating_element_status.device_id %>-<%= heating_element_status.pump_id %>">
  <td><%= heating_element_status.device_id %></td>
  <td><%= heating_element_status.heat_id %></td>
  <td><%= heating_element_status.state %></td>
  <td><%= heating_element_status.voltage %></td>
  <td><%= heating_element_status.stop_time %></td>
</tr>
