<tr id="pump-status-<%= pump_status.device_id %>-<%= pump_status.pump_id %>">
  <td><%= pump_status.device_id %></td>
  <td><%= pump_status.pump_id %></td>
  <td><%= pump_status.state %></td>
  <td><%= pump_status.stop_time %></td>
  <td><%= pump_status.speed %></td>
</tr>