<tr id="pump-status-<%= pump_status.equipment.rhizome.particle_device.device_id %>-<%= pump_status.equipment.rhizome_eid %>">
  <td><%= pump_status.equipment.rhizome.name %></td>
  <td><%= pump_status.equipment.rhizome_eid %></td>
  <td><%= pump_status.state %></td>
  <td><%= pump_status.stop_time %></td>
</tr>