<% provide(:title, "Add #{@type.titlecase} #{rhizome_title_reference(@rhizome, :new)}") %>
<h1>Add <%= @type.titlecase %> <%= rhizome_title_reference(@rhizome, :new) %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@equipment) do |f| %>
        <%= render partial: 'fields', locals: {f: f, object: @equipment, type: @type, rhizome: @rhizome} %>
        <% if @type != 'Equipment' %>
            <%= render partial: "#{@type.pluralize.underscore}/pins", locals: {f: f} %>
        <% end %>
        <%= button_tag 'Add', type: :submit, class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Cancel', rhizomes_path, class: 'btn btn-sm btn-primary btn-danger' %>
    <% end %>
  </div>
</div>
