<% provide(:title, "Edit #{@recipe.name} | #{@type.titlecase}") %>
<h1>Edit <%= @recipe.name %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@recipe) do |f| %>
        <%= render partial: 'fields', locals: {f: f, object: @recipe, type: @type} %>
        <%= button_tag 'Save', type: :submit, class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Cancel', sti_recipe_type_path(@type), class: 'btn btn-sm btn-primary btn-danger' %>
    <% end %>
  </div>
</div>
