<% provide(:title, "#{@recipe.name} | #{@type.titlecase}") %>
<div class="row">
  <aside class="col-md-10">
    <section class="recipe_info">
      <h1>
        <%= @recipe.name %>
      </h1>

      <div class="list-group panel">
        <%= link_to '#schedule-section',
                    class: 'list-group-item list-group-item-success',
                    'data-toggle' => 'collapse',
                    'data-parent' => 'mainmenu-sidebar',
                    'aria-expanded' => 'true' do %>
            <span class="glyphicon glyphicon-list"></span> Schedule
        <% end %>
        <div class="collapse in" id="schedule-section">
          <div class="list-group-item">
            <% if @recipe.schedule.nil? %>
                <ul><li>Not specified yet...</li></ul>
            <% else %>
                <%= render partial: 'schedules/schedule_chart_w_warnings',
                           locals: { schedule: @recipe.schedule} %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="list-group panel">
        <%= link_to '#additions-section',
                    class: 'list-group-item list-group-item-success',
                    'data-toggle' => 'collapse',
                    'data-parent' => 'mainmenu-sidebar',
                    'aria-expanded' => 'true' do %>
            <span class="glyphicon glyphicon-scale"></span> Additions
        <% end %>
        <div class="collapse in" id="additions-section">
          <div class="list-group-item">
            <ul>
              <li>Coming Soon!</li>
            </ul>
          </div>
        </div>
      </div>

    </section>
    <%= link_to 'Edit',
                sti_recipe_type_path(@type, @recipe, :edit),
                class: 'btn btn-sm btn-primary',
                alt: 'Edit',
                title: 'Edit' %>
    <%= link_to 'Delete',
                @recipe,
                method: :delete,
                data: { confirm: 'You sure?' },
                class: 'btn btn-sm btn-danger',
                alt: 'Delete',
                title: 'Delete' %>
    <%= link_to 'Back',
                sti_recipe_type_path(@type),
                class: 'btn btn-sm btn-primary',
                alt: 'Back',
                title: 'Back' %>
  </aside>
</div>
