<div class="nested-fields form-inline">
  <div class="form-group">
    <div class="input-group">
        <% if f.object.id.nil? %>
            <span class="input-group-addon glyphicon glyphicon-cog">&nbsp;</span>
        <% else %>
            <span class="input-group-addon" style="font-weight: bold;">#<%= f.object.id %></span>
        <% end %>
        <%= f.label :type, class: 'sr-only' %>
        <%= f.select :type,
                     Task.task_options,
                     {},
                     class: 'form-control' %>
        <span class="input-group-addon"></span>
        <%= f.label :sprout, class: 'sr-only' %>
        <%= f.select :sprout,
                     Rhizome.rhizome_options,
                     {include_blank: true, selected: (f.object.sprout.nil?  ? '' : f.object.sprout)},
                     class: 'form-control' %>

        <span class="input-group-btn">
        <%= link_to_remove_association '',
                                       f,
                                       alt: 'Remove Task',
                                       title: 'Remove Task',
                                       class: 'btn btn-danger glyphicon glyphicon-minus' %>
        </span>
    </div>

    <% if f.object.type == 'RunThermostatTask' %>
        <%= render partial: 'schedules/run_thermostat_task_fields', locals: {f: f} %>
    <% end %>

    <div class="input-group">
      <span class="input-group-addon">hold for</span>
      <%= f.label :duration, class: 'sr-only' %>
      <%= f.text_field :duration, class: 'form-control' %>
      <span class="input-group-addon">sec.</span>
    <span class="input-group-addon">after Task</span>
      <%= f.label :parent_id, 'Parent Task', class: 'sr-only' %>
      <%= f.select :parent_id,
                   Task.parent_task_options(f.object.schedule_id),
                   {include_blank: true, selected: (f.object.nil? ? '' : f.object.parent_id)},
                   class: 'form-control' %>
    <span class="input-group-addon">is</span>
    <%= f.label :trigger, class: 'sr-only' %>
    <%= f.select :trigger,
                 Task.trigger_options,
                 {include_blank: true, selected: (f.object.trigger.nil? ? '' : f.object.trigger)},
                 class: 'form-control' %>

    </div>
  </div>
</div>