<%= render 'shared/error_messages', object: f.object  %>

<% if equipment_profile.nil? %>
    <%= f.label :equipment_profile %>
    <%= f.select :equipment_profile,
                 EquipmentProfile.all.map { |r| [r.name, r.id] },
                 { include_blank: true, selected: (equipment_profile.nil? ? '' : equipment_profile.id)},
                 class: 'form-control' %>
<% else %>
    <%= f.hidden_field :equipment_profile, value: equipment_profile.id %>
<% end %>
<h5><%= f.label :element, 'Heating Element' %></h5>
<%= f.fields_for :element do |p| %>
    <%= render partial: 'heating_elements/pins', locals: {f: p} %>
<% end %>
<h5><%= f.label :sensor, 'Temperature Sensor' %></h5>
<%= f.fields_for :sensor do |p| %>
    <%= render partial: 'temperature_sensors/pins', locals: {f: p} %>
<% end %>
