<tr id="temperature-sensor-status-<%= temperature_sensor_status.device_id %>-<%= temperature_sensor_status.temp_id %>">
  <td><%= temperature_sensor_status.device_id %></td>
  <td><%= temperature_sensor_status.temp_id %></td>
  <td><%= temperature_sensor_status.state %></td>
  <td><%= temperature_sensor_status.stop_time %></td>
  <td><%= temperature_sensor_status.temperature %></td>
  <td><%= temperature_sensor_status.last_read_time %></td>
</tr>
