<div class="modal fade" id="rhizome-<%= rhizome.id %>-show" tabindex="-1" role="dialog" aria-labelledby="rhizome-<%= rhizome.id %>-show-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header navbar-inverse">
        <%= button_tag '', class: 'btn btn-sm btn-danger glyphicon glyphicon-remove', 'data-dismiss' => 'modal' %>
        <h4 class="modal-title" id="rhizome-<%= rhizome.id %>-show-label"><%= rhizome.name %></h4>
      </div>
      <div class="modal-body rhizome-info">
        <ul>
          <li><span class="rhizome show_info">Device ID:</span> <%= rhizome.particle_device.device_id %></li>
          <li><span class="rhizome show_info">Access Token:</span> <%= rhizome.particle_device.access_token %></li>
        </ul>
        <%= render partial: 'rhizomes/equipment', locals: {rhizome: rhizome} %>
      </div>
      <div class="modal-footer">
        <%= link_to 'Edit',
                    edit_rhizome_path(id: rhizome.id),
                    class: 'btn btn-sm btn-primary',
                    alt: 'Edit',
                    title: 'Edit' %>
        <%= render partial: 'equipments/add_equipment_dropdown', locals: {rhizome: rhizome} %>
        <%= link_to 'Delete',
                    rhizome,
                    method: :delete,
                    data: { confirm: "You sure you want to delete #{rhizome.name}?" },
                    class: 'btn btn-sm btn-primary btn-danger',
                    alt: 'Delete',
                    title: 'Delete' %>
      </div>
    </div>
  </div>
</div>