<%= render 'shared/error_messages', object: f.object  %>

<% if equipment_profile.nil? %>
    <%= f.label :equipment_profile %>
    <%= f.select :equipment_profile,
                 EquipmentProfile.all.map { |r| [r.name, r.id] },
                 { include_blank: true, selected: (equipment_profile.nil? ? '' : equipment_profile.id)},
                 class: 'form-control' %>
<% else %>
    <%= f.hidden_field :equipment_profile, value: equipment_profile.id %>
<% end %>
<h4><%= f.label :tube, 'Tube' %></h4>
<%= f.fields_for :tube do |p| %>
    <h5><%= p.label :element, 'Heating Element' %></h5>
    <%= p.fields_for :element do |ep| %>
        <%= render partial: 'heating_elements/pins', locals: {f: ep} %>
    <% end %>
    <h5><%= p.label :sensor, 'Temperature Sensor' %></h5>
    <%= p.fields_for :sensor do |tsp| %>
        <%= render partial: 'temperature_sensors/pins', locals: {f: tsp} %>
    <% end %>
<% end %>
<h4><%= f.label :safety_sensor, 'Safety Sensor' %></h4>
<%= f.fields_for :safety_sensor do |p| %>
    <%= render partial: 'temperature_sensors/pins', locals: {f: p} %>
<% end %>
<h4><%= f.label :recirculation_pump, 'Recirculation Pump' %></h4>
<%= f.fields_for :recirculation_pump do |p| %>
    <%= render partial: 'pumps/pins', locals: {f: p} %>
<% end %>
