<% provide(:title, "RIMS #{@recirculating_infusion_mash_system.rhizome_eid}") %>
<div class="row">
  <aside class="col-md-4">
    <section class="equipment_info">
      <h1>
        RIMS <%= @recirculating_infusion_mash_system.rhizome_eid %>
      </h1>
      <h4>
        Pins:
      </h4>
      <%= render partial: 'pins_list', locals: {rims: @recirculating_infusion_mash_system} %>
    </section>
    <%= link_to 'Edit',
                edit_recirculating_infusion_mash_system_path(@recirculating_infusion_mash_system),
                class: 'btn btn-sm btn-primary',
                alt: 'Edit',
                title: 'Edit' %>
    <%= link_to 'Delete',
                @recirculating_infusion_mash_system,
                method: :delete,
                data: { confirm: 'You sure?' },
                class: 'btn btn-sm btn-danger',
                alt: 'Delete',
                title: 'Delete' %>
    <%= js_back_button %>
  </aside>
</div>
