<div class="list-group panel">
  <%= link_to '#gauges-section',
              class: 'list-group-item list-group-item-success',
              'data-toggle' => 'collapse',
              'data-parent' => 'mainmenu-sidebar',
              'aria-expanded' => 'true' do %>
      <span class="glyphicon glyphicon-dashboard"></span> Current System Status
  <% end %>
  <div class="collapse in" id="gauges-section">
    <div class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <%= render 'batches/gauge_panel',
                     gauge: {
                         title: 'Gauge 1',
                         display: '[Gauge]'
                     } %>
        </div>
        <div class="col-md-3">
          <%= render 'batches/gauge_panel',
                     gauge: {
                         title: 'Gauge 2',
                         display: '[Gauge w/ an issue]',
                         notification: 'danger'
                     } %>
        </div>
        <div class="col-md-3">
          <%= render 'batches/gauge_panel',
                     gauge: {
                         title: 'Gauge 3',
                         display: '[Gauge]'
                     } %>
        </div>
        <div class="col-md-3">
          <%= render 'batches/gauge_panel',
                     gauge: {
                         title: 'Gauge 4',
                         display: '[Gauge]'
                     } %>
        </div>
        <div class="col-md-3">
          <%= render 'batches/status_panel',
                     equipment: {
                         title: 'Free Pump 1',
                         status: 'ON',
                         label: 'success',
                         notification: 'primary'
                     } %>
        </div>
        <div class="col-md-3">
          <%= render 'batches/status_panel',
                     equipment: {
                         title: 'Free Pump 2',
                         status: 'OFF',
                         label: 'danger',
                         notification: 'primary'
                     } %>
        </div>
        <div class="col-md-3">
          <%= render 'batches/status_panel',
                     equipment: {
                         title: 'Free Pump 3 w/ issue',
                         status: 'OFF',
                         notification: 'danger',
                         label: 'danger'
                     } %>
        </div>
        <div class="col-md-3">
          <%= render 'batches/status_panel',
                     equipment: {
                         title: 'Free Pump 4 w/ no data'
                     } %>
        </div>
      </div>
    </div>
  </div>
</div>
