<div class="list-group panel">
  <%= link_to "#rhizome-status-panel-#{rhizome.id}",
              class: 'list-group-item list-group-item-success',
              'data-toggle' => 'collapse', 'data-parent' => 'mainmenu-sidebar', 'aria-expanded' => 'true' do %>
      <%= rhizome.role.name %>
  <% end %>
  <div class="collapse in" id="rhizome-status-panel-<%= rhizome.id %>">
    <div class="row">
      <% rhizome.recirculating_infusion_mash_systems.each do |rims| %>
        <div class="col-md-4">
          <%= rims_gauge_panel(rims) %>
        </div>
      <% end %>

      <% rhizome.non_component_thermostats.each do |thermostat| %>
        <div class="col-md-2">
          <%= thermostat_gauge_panel(thermostat) %>
        </div>
      <% end %>

      <% rhizome.non_component_temperature_sensors.each do |sensor| %>
        <div class="col-md-2">
          <%= equipment_gauge_panel(sensor) %>
        </div>
      <% end %>

      <% rhizome.non_component_heating_elements.each do |element| %>
        <div class="col-md-2">
          <%= status_panel(element) %>
        </div>
      <% end %>

      <% rhizome.non_component_pumps.each do |pump| %>
        <div class="col-md-2">
          <%= status_panel(pump) %>
        </div>
      <% end %>
    </div>
  </div>
</div>


