<% provide(:title, @batch.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="batch_info">
      <h1>
        <%= @batch.name %>
        <%= render 'start_stop_buttons', batch: @batch %>
      </h1>
      <div>
        [ Dashboard goes here ]
      </div>
    </section>
    <% if @batch.not_ready? || @batch.ready? %>
      <%= link_to 'Rhizomes',
                  batch_assign_rhizomes_path(@batch),
                  class: 'btn btn-sm btn-warning',
                  alt: "Update Rhizomes assigned to #{@batch.name}",
                  title: "Update Rhizomes assigned to #{@batch.name}" %>
    <% end %>
    <%= link_to 'Delete',
                @batch,
                method: :delete,
                data: { confirm: 'You sure?' },
                class: 'btn btn-sm btn-danger',
                alt: 'Delete',
                title: 'Delete' %>
    <%= link_to 'Back',
                batches_path,
                class: 'btn btn-sm btn-primary',
                alt: 'Back',
                title: 'Back' %>
  </aside>
</div>