<tr>
  <td><%= check_box_tag 'rhizomes[]', rhizome.id, false %></td>
  <td>
    <%= link_to rhizome.name, '', 'data-toggle' => 'modal', 'data-target' => "#rhizome-#{rhizome.id}-show" %>
    <%= render 'rhizomes/modals/show', rhizome: rhizome %>
  </td>
  <td><%= rhizome.particle_device.device_id %></td>
  <td>
  <% if current_user.admin? %>
      <%= link_to pump_new_job_path(id: rhizome.particle_device.id, pump_id: 1),
                  method: :get,
                  class: 'btn btn-sm btn-primary',
                  alt: "Test Pump 1 Job #{rhizome.name}",
                  title: "Test Pump 1 Job #{rhizome.name}" do %>
        <span class="glyphicon glyphicon-transfer"></span>
      <% end %>
      <%= link_to ping_new_job_path(id: rhizome.particle_device.id),
                  method: :get,
                  class: 'btn btn-sm btn-primary',
                  alt: "Ping #{rhizome.name}",
                  title: "Ping #{rhizome.name}" do %>
          <span class="glyphicon glyphicon-certificate"></span>
      <% end %>
      <%= link_to rhizome,
                  method: :delete,
                  data: { confirm: "You sure you want to delete #{rhizome.name}?" },
                  class: 'btn btn-sm btn-primary',
                  id: "rhizome-#{rhizome.id}-destroy",
                  alt: "Delete #{rhizome.name}",
                  title: "Delete #{rhizome.name}" do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
  <% end %>
  </td>
</tr>