<tr>
  <td><%= check_box_tag 'rhizomes[]', rhizome.id, false %></td>
  <td>
    <%= link_to rhizome.name, '', 'data-toggle' => 'modal', 'data-target' => "#rhizome-#{rhizome.id}-show" %>
    <%= render 'rhizomes/modals/rhizomes_modal', rhizome: rhizome, action: 'show', title: rhizome.name %>
  </td>
  <td><%= rhizome.particle.device_id %></td>
  <td>
  <% if current_user.admin? %>
      <%= link_to ping_new_job_path(id: rhizome.particle.id),
                  method: :get,
                  class: 'btn btn-sm btn-primary',
                  alt: "Ping #{rhizome.name}",
                  title: "Ping #{rhizome.name}" do %>
          <span class="glyphicon glyphicon-asterisk"></span>
      <% end %>
      <%= link_to rhizome,
                  method: :delete,
                  data: { confirm: 'You sure?' },
                  class: 'btn btn-sm btn-primary',
                  alt: "Delete #{rhizome.name}",
                  title: "Delete #{rhizome.name}" do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
  <% end %>
  </td>
</tr>