<tr>
  <td><%= check_box_tag 'rhizomes[]', rhizome.id, false, class: 'rhizome_checkbox' %></td>
  <td>
    <%= link_to rhizome.name, '', 'data-toggle' => 'modal', 'data-target' => "#rhizome-#{rhizome.id}-show" %>
    <%= render 'rhizomes/modals/show', rhizome: rhizome %>
  </td>
  <td><%= rhizome.particle_device.device_id %></td>
  <td>
  <% if current_user.admin? %>
        <%= link_to new_rhizome_hook_path(rhizome_id: rhizome.id),
                    method: :get,
                    class: 'btn btn-sm btn-info',
                    alt: "Add a webhook for #{rhizome.name}",
                    title: "Add a webhook for #{rhizome.name}" do %>
            <span class="glyphicon glyphicon-earphone"></span>
        <% end %>
        <%= link_to rhizome_hooks_path(rhizome_id: rhizome.id),
                    class: 'btn btn-sm btn-info',
                    alt: "Delete webhooks for #{rhizome.name}",
                    title: "Delete webhooks for #{rhizome.name}" do %>
            <span class="glyphicon glyphicon-phone-alt"></span>
        <% end %>
        <%= link_to ping_path(rhizome: rhizome.id),
                    method: :post,
                    class: 'btn btn-sm btn-warning',
                    alt: "Ping #{rhizome.name}",
                    title: "Ping #{rhizome.name}" do %>
          <span class="glyphicon glyphicon-certificate"></span>
        <% end %>
        <%= link_to add_sprouts_path(rhizome: rhizome.id),
                    method: :post,
                    class: 'btn btn-sm btn-warning',
                    alt: "Flash Sprouts to #{rhizome.name}",
                    title: "Flash Sprouts to #{rhizome.name}" do %>
            <span class="glyphicon glyphicon-plus-sign"></span>
        <% end %>
        <%= link_to clear_sprouts_path(rhizome: rhizome.id),
                    method: :post,
                    class: 'btn btn-sm btn-warning',
                    alt: "Clear Sprouts on #{rhizome.name}",
                    title: "Clear Sprouts on #{rhizome.name}" do %>
            <span class="glyphicon glyphicon-minus-sign"></span>
        <% end %>
        <%= link_to rhizome,
                    method: :delete,
                    data: { confirm: "You sure you want to delete #{rhizome.name}?" },
                    class: 'btn btn-sm btn-danger',
                    id: "rhizome-#{rhizome.id}-destroy",
                    alt: "Delete #{rhizome.name}",
                    title: "Delete #{rhizome.name}" do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
  <% end %>
  </td>
</tr>