<% provide(:title, 'Rhizomes') %>
<h1>
  Manage Your Rhizomes <%= link_to '',
                                   new_rhizome_path,
                                   class: 'btn btn-sm btn-primary glyphicon glyphicon-plus',
                                   alt: 'Add a Rhizome',
                                   title: 'Add a Rhizome' %>
</h1>

<%= form_for :rhizome,
             url: destroy_multiple_rhizomes_path,
             method: :delete,
             data: { confirm: 'You sure you want to delete all of these?', confirm_for: 'destroy-multiple-rhizomes' },
             id: 'bulk-delete bulk-delete-rhizomes-form' do %>
<div class="table-responsive">
    <%= will_paginate %>

    <table class="rhizomes table table-hover table-striped">
      <thead>
        <tr>
          <th>
            <%= button_tag '',
                           type: :submit,
                           id: 'bulk-delete-submit',
                           class: 'btn btn-sm btn-primary glyphicon glyphicon-trash',
                           alt: 'Delete Selected',
                           title: 'Delete Selected' %>
          </th>
          <th>Name</th>
          <th>Device ID</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <%= render @rhizomes %>
      </tbody>
    </table>

    <%= will_paginate %>
</div>
<% end %>