<% if logged_in? %>
<div id="mainmenu-sidebar" class="nav navbar-nav">
  
  <div class="list-group panel">
    <%= link_to '#recipe-section',
                class: 'list-group-item list-group-item-success',
                'data-toggle' => 'collapse', 'data-parent' => 'mainmenu-sidebar', 'aria-expanded' => 'true' do %>
      <span class="glyphicon glyphicon-book"></span> Recipe Book
    <% end %>
    <div class="collapse in" id="recipe-section">
      <%= link_to 'Beer', beer_recipes_path, class: 'list-group-item'  %>
      <%= link_to 'Cider', cider_recipes_path, class: 'list-group-item'  %>
      <%= link_to 'Mead', mead_recipes_path, class: 'list-group-item'  %>
      <%= link_to 'Wine', wine_recipes_path, class: 'list-group-item'  %>
      <%= link_to 'Distilling', distilling_recipes_path, class: 'list-group-item'  %>
      <%= link_to 'Schedules', schedules_path, class: 'list-group-item' %>
    </div>

    <%= link_to '#batches-section',
                class: 'list-group-item list-group-item-success',
                'data-toggle' => 'collapse', 'data-parent' => 'mainmenu-sidebar', 'aria-expanded' => 'true' do %>
        <span class="glyphicon glyphicon-dashboard"></span> Batches
    <% end %>
    <div class="collapse in" id="batches-section">
      <%= link_to 'Start a new batch', new_batch_path, class: 'list-group-item'  %>
      <%= link_to 'What\'s Brewing?', batches_path, class: 'list-group-item'  %>
      <%= link_to 'What\'s Distilling?', '#', class: 'list-group-item'  %>
      <%= link_to 'What\'s Fermenting?', '#', class: 'list-group-item'  %>
      <%= link_to 'What\'s Kegged?', '#', class: 'list-group-item'  %>
    </div>

    <%= link_to '#configuration-section',
                class: 'list-group-item list-group-item-success',
                'data-toggle' => 'collapse', 'data-parent' => 'mainmenu-sidebar', 'aria-expanded' => 'true' do %>
        <span class="glyphicon glyphicon-list-alt"></span> Configuration
    <% end %>
    <div class="collapse in" id="configuration-section">
      <%= link_to 'Manage Rhizomes', rhizomes_path, class: 'list-group-item'  %>
      <%= link_to 'Manage Equipment Profiles', equipment_profiles_path, class: 'list-group-item'  %>
      <%= link_to 'Manage Brewhouses', '#', class: 'list-group-item'  %>
      <%= link_to 'Manage Users', users_path, class: 'list-group-item' %>
    </div>
    
  </div>
  
</div>
<% end %>